{% extends "layout.html" %}

{% block content %}
    {% if greeting %}
        I just wanted to say
        <em style="color: red; font-size: 3em;">{{ greeting }}</em>.
        <br/>
<!--        <a href = 'http://127.0.0.1:5000/hello' method="GET"><< FORM</a>-->
        <br/>
<!--        <a href = 'http://127.0.0.1:5000/'>BACK HELLO WORLD</a>-->
    {% else %}
        <em style="color: green; font-size: 3em;">Hello, world! </em>
        <br/>
<!--        <a href = 'http://127.0.0.1:5000/hello'>NEXT</a>-->
    {% endif %}



{% endblock %}